@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", serif;
}
.container {
  width: 1120px;
  margin: 0 auto;
}
.area {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content input {
  width: 100%;
  margin: 10px 0;
  padding: 10px 5px;
  border: none;
  outline: none;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 6px;
}
.add{
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: #009c24;
  font-size: 18px;
  margin-right: 10px;
  border-radius: 5px;
  color: white;
}
.remove{
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: #ff1100;
  font-size: 18px;
  margin-right: 10px;
  border-radius: 5px;
  color: white;
}
